<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/verify.css"> 
    <title>verify</title>
</head>
<body>
    <div class="topbar">
        <div class="logo">
        </div>
        <div class="menu">
            <h3 class="navs">BOOTCAMP</h3>
            <h3 class="navs current">VERIFY</h3>
            <h3 class="navs">CAMPUS YODDHA</h3>
            <h3 class="navs">CONTACT US</h3>
            <h3 class="navs">BLOG</h3>
            <h3 class="navs">FAQ</h3>
        </div>
        <div class="options">
            <h3 class="navs">PRACTICE</h3>
            <button class="Enroll">ENROLL NOW</button>
        </div>
    </div>
    <div class="animate">
        <div class="obj"></div>
    </div>
    <div class="verify display">
        <form method="POST" action="/vrfy" class="formm">
            <fieldset class="fs1">
                <legend style="font-size: x-large;">Certified Credential Verification</legend>
                <h4>Certificate Number</h4>
                <input type="text" class="cred" placeholder="Enter Verification Number">
                <input type="submit" class="submit" value="VERIFY">
                <br/>
                <fieldset class="fs2"  >
                    <legend style="font-size: x-large;">Verification Result from MongoDb Database</legend>
                    <h3>Name : </h3>
                    <h3>Certificate Number :</h3> 
                    <h3>Certification :</h3>
                    <h3>Issued on :</h3>
                    <h3>Issued by :</h3>
                </fieldset>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere dolore, eligendi rerum eum adipisci aperiam aspernatur laborum fugiat tempore, corrupti, vel beatae harum voluptas excepturi eius eaque maxime? Dolores libero adipisci officiis repellendus eius commodi explicabo magnam, labore debitis aliquid expedita odio optio aperiam cum consectetur illum suscipit corporis? Ea rem veniam asperiores ad, soluta officiis voluptas, nulla voluptatem amet sed autem hic iusto laborum sapiente velit. Sed odio doloribus labore magni? Rerum omnis provident iste asperiores exercitationem quis rem perferendis distinctio, autem quia.
                </div>
            </fieldset>
        </form>
        
    </div>
    <script src="/frontend js/verify.js"></script>
</body>
</html>